<div class="header-cst__wrapper color-{{ section.settings.color_scheme }} gradient">
  <header class="header-cst page-width">
    {%- liquid
      assign logo_width = settings.logo_width | plus: 1
      assign logo_width_large = logo_width | times: 2 
    -%}
    <a href="{{ routes.root_url }}" class="header-cst__logo" style="--logo-width: {{ logo_width }}px;">
      {%- if settings.logo -%}
        {{ settings.logo | image_url: width: logo_width_large | image_tag }}
      {%- elsif request.page_type == 'index' %}
        <h1 class="header-cst__logo-heading">{{ shop.name }}</h1>
      {% else %}
        <span class="h1 header-cst__logo-heading">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section section-header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "color-scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}