<header class="header page-width">
  <a href="{{ routes.root_url }}" class="header-logo" style="--logo-width: {{ settings.logo_width | plus: 1 }}px;">
    {%- if settings.logo -%}
      {%- assign logo_width_large = settings.logo_width | times: 2 -%}
      {{ settings.logo | image_url: width: logo_width_large | image_tag }}
    {%- elsif request.page_type == 'index' %}
      <h1 class="header-logo__heading">{{ shop.name }}</h1>
    {% else %}
      <span class="h1 header-logo__heading">{{ shop.name }}</span>
    {%- endif -%}
  </a>
</header>

{% schema %}
{
  "name": "Header new",
  "class": "section section-header",
  "settings": [],
  "presets": [
    {
      "name": "Header new"
    }
  ]
}
{% endschema %}