<div class="header-wrapper color-{{ section.settings.color_scheme }} gradient">
  <header class="header page-width">
    {%- liquid
      assign logo_width = settings.logo_width | plus: 1
      assign logo_width_large = logo_width | times: 2 
    -%}
    <a href="{{ routes.root_url }}" class="header-logo" style="--logo-width: {{ logo_width }}px;">
      {%- if settings.logo -%}
        {{ settings.logo | image_url: width: logo_width_large | image_tag }}
      {%- elsif request.page_type == 'index' %}
        <h1 class="header-logo__heading">{{ shop.name }}</h1>
      {% else %}
        <span class="h1 header-logo__heading">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    <div class="header-promo__text">
      {{- section.settings.promotion_text -}}
    </div>
    <div class="header-buttons">
      <a href="{{ section.settings.button_link }}" class="button button-with-arrow">
        <span class="text">{{ section.settings.button_label }}</span>
        {%- render 'icon-arrow-long' -%}
      </a>
    </div>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section section-header",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "promotion_text",
      "label": "Promitional text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "choose gift"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "color-scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}