<div class="header-wrapper color-{{ section.settings.color_scheme }} gradient">
  <header class="header page-width">
    <div class="header-icons header-icons__left medium-hide large-up-hide">
      <button type="button" class="menu-drawer__toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13" fill="none" class="icon icon-hamburger">
          <path d="M1 6.5H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 1.5H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 11.5H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" class="icon icon-close">
          <path d="M1 13.9997L13.7279 1.27177" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 1.00031L13.7279 13.7282" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    {%- liquid
      assign logo_width = section.settings.logo_width
      assign logo_width_large = logo_width | times: 2 
    -%}
    <a href="{{ routes.root_url }}" class="header-logo full-unstyled-link" style="--logo-width: {{ logo_width }}px;">
      {%- if section.settings.logo -%}
        {{ section.settings.logo | image_url: width: logo_width_large | image_tag }}
      {%- elsif request.page_type == 'index' %}
        <h1 class="header-logo__heading">{{ shop.name }}</h1>
      {% else %}
        <span class="h1 header-logo__heading">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    {%- if section.settings.promotion_text != blank -%}
      <div class="header-promo__text center small-hide">
        {{- section.settings.promotion_text -}}
      </div>
    {%- endif -%}
    {%- if section.settings.button_label != blank -%}
      <div class="header-buttons small-hide">
        <a href="{{ section.settings.button_link }}" class="button button--with-arrow">
          <span class="text">{{ section.settings.button_label }}</span>
          {%- render 'icon-arrow-long' -%}
        </a>
      </div>
    {%- endif -%}
  </header>
</div>

<div class="menu-drawer medium-hide large-up-hide color-{{ section.settings.color_scheme }} gradient" id="MenuDrawer">
  {%- if section.settings.promotion_text != blank -%}
    <div class="header-promo__text">
      {{- section.settings.promotion_text -}}
    </div>
  {%- endif -%}
  <a href="{{ section.settings.button_link }}" class="button button--with-arrow">
    <span class="text">{{ section.settings.button_label }}</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="12" viewBox="0 0 31 12" fill="none" class="icon">
      <path d="M1.36377 4.80469L0.61377 4.80469L0.613769 6.30469L1.36377 6.30469L1.36377 4.80469ZM30.184 6.08502C30.4768 5.79213 30.4768 5.31725 30.184 5.02436L25.411 0.251388C25.1181 -0.0415052 24.6432 -0.0415052 24.3503 0.251388C24.0574 0.544282 24.0574 1.01916 24.3503 1.31205L28.593 5.55469L24.3503 9.79733C24.0574 10.0902 24.0574 10.5651 24.3503 10.858C24.6432 11.1509 25.1181 11.1509 25.411 10.858L30.184 6.08502ZM1.36377 6.30469L29.6536 6.30469L29.6536 4.80469L1.36377 4.80469L1.36377 6.30469Z" fill="currentColor"/>
    </svg>
  </a>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "number",
      "id": "logo_width",
      "label": "Logo width (in px)",
      "default": 151
    },
    {
      "type": "inline_richtext",
      "id": "promotion_text",
      "label": "Promotional text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "choose gift"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "color-scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}