<div class="header-wrapper color-{{ section.settings.color_scheme }} gradient">
  <header class="header page-width">
    <div class="header-icons header-icons__left medium-hide large-up-hide">
      <button type="button" class="menu-drawer__toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13" fill="none" class="icon icon-hamburger">
          <path d="M1 6.5H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 1.5H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 11.5H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    {%- liquid
      assign logo_width = settings.logo_width | plus: 1
      assign logo_width_large = logo_width | times: 2 
    -%}
    <a href="{{ routes.root_url }}" class="header-logo" style="--logo-width: {{ logo_width }}px;">
      {%- if settings.logo -%}
        {{ settings.logo | image_url: width: logo_width_large | image_tag }}
      {%- elsif request.page_type == 'index' %}
        <h1 class="header-logo__heading">{{ shop.name }}</h1>
      {% else %}
        <span class="h1 header-logo__heading">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    {%- if section.settings.promotion_text != blank -%}
      <div class="header-promo__text center small-hide">
        {{- section.settings.promotion_text -}}
      </div>
    {%- endif -%}
    {%- if section.settings.button_label != blank -%}
      <div class="header-buttons small-hide">
        <a href="{{ section.settings.button_link }}" class="button button--with-arrow">
          <span class="text">{{ section.settings.button_label }}</span>
          {%- render 'icon-arrow-long' -%}
        </a>
      </div>
    {%- endif -%}
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section section-header",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "promotion_text",
      "label": "Promitional text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "choose gift"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "color-scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}