{{ 'section-lookbooks.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-padding-{{ section.id }} {
    padding-top: {{ section.settings.top_padding_mobile }}px;
    padding-bottom: {{ section.settings.bottom_padding_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding_tablet }}px;
      padding-bottom: {{ section.settings.bottom_padding_tablet }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .section-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding_desktop }}px;
      padding-bottom: {{ section.settings.bottom_padding_desktop }}px;
    }
  }
{%- endstyle -%}

<div class="lookbooks color-{{ section.settings.color_scheme }}">
  <div class="page-width section-padding-{{ section.id }}">
    {% if section.settings.heading != blank %}
      <h2 class="lookbooks-heading">{{ section.settings.heading }}</h2>
    {%- endif -%}
    <div class="lookbook-grid">
      {%- for block in section.blocks -%}
        {% style %}
          .lookbook-item-{{ block.id }} {
            --spacing-top: {{ block.settings.position_top_mobile }}%;
            --spacing-left: {{ block.settings.position_left_mobile }}%
          }

          @media screen and (min-width: 750px) {
            .lookbook-item-{{ block.id }} {
              --spacing-top: {{ block.settings.position_top_desktop }}%;
              --spacing-left: {{ block.settings.position_left_desktop }}%
            }
          }
        {%- endstyle -%}
      
        <div class="lookbook-item lookbook-item-{{ block.id }}">
          <div class="lookbook-item__media">
            <div class="media media--square">
              {%- liquid
                assign lookbook_product = block.settings.product
                assign lookbook_image = lookbook_product.featured_media.preview_image
                 
                if block.settings.image
                  assign lookbook_image = block.settings.image
                endif
    
                assign sizes = '100vw'
                assign widths = '400, 600, 800, 1200, 1600'
                assign fetch_priority = 'auto'
                if section.index == 1
                  assign fetch_priority = 'high'
                endif
              -%}
              
              {% if lookbook_image != blank %}
                {{
                  lookbook_image
                  | image_url: width: 800
                  | image_tag: loading: 'lazy', sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              {%- else -%}
                {%- capture index %}{%- cycle '1', '2', '3', '4', '5', '6' -%}{%- endcapture -%}
                {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder' }}
              {%- endif -%}
            </div>
            <div class="lookbook-item__view-buton">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M11.3457 7.04175V15.5033" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M7.11523 11.2725H15.5768" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Lookbooks",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Tisso vison in the wild"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding top"
    },
    {
      "type": "range",
      "id": "top_padding_desktop",
      "label": "Desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "top_padding_tablet",
      "label": "Tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "top_padding_mobile",
      "label": "Mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section padding bottom"
    },
    {
      "type": "range",
      "id": "bottom_padding_desktop",
      "label": "Desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "bottom_padding_tablet",
      "label": "Tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "bottom_padding_mobile",
      "label": "Mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Position top settings"
        },
        {
          "type": "range",
          "id": "position_top_desktop",
          "label": "Top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "position_top_mobile",
          "label": "Top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "Position left settings"
        },
        {
          "type": "range",
          "id": "position_left_desktop",
          "label": "Left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "position_left_mobile",
          "label": "Left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbooks",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}