{{ 'component-quick-view-modal.css' | asset_url | stylesheet_tag }}

{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="quick-view__modal-content">
  <div class="quick-view__product">
    <div class="quick-view__product-image media">
      {{ product.featured_media.preview_image | image_url: width: 240 | image_tag: loading: 'lazy' }}
    </div>
    <div class="quick-view__product-details">
      <h2 class="quick-view__product-title">{{ product.title }}</h2>
      <div class="quick-view__product-price" id="Price-{{ section.id }}">
        <span>{{ current_variant.price | money }}</span>
        {%- if current_variant.compare_at_price > current_variant.price -%}
          <s>{{ current_variant.compare_at_price | money }}</s>
        {%- endif -%}
      </div>
      {%- if product.description != blank -%}
        <div class="quick-view__product-desc rte">
          {{ product.description }}
        </div>
      {%- endif -%}
    </div>
  </div>
  <quick-product-form class="quick-view__product-form">
    {%- unless product.has_only_default_variant -%}
      <quick-variant-selects 
        class="quick-view__product-options" 
        data-section="{{ section.id }}"
      >
        {%- for option in product.options_with_values -%}
          {%- assign option_name_downcase = option.name | downcase -%}
          {%- if option_name_downcase contains 'color' or option_name_downcase contains 'colour' -%}
            <fieldset class="quick-view__product-option not-checked">
              <legend class="quick-view__option-name">{{ option.name }}</legend>
              <div class="quick-view__option-colors">
                {%- for value in option.values -%}
                  {%- capture input_id -%}{{ option.name | handleize }}-{{ section.id }}-{{ forloop.index }}{%- endcapture -%}
                  <input 
                    type="radio"
                    name="{{ option.name }}"
                    id="{{ input_id }}"
                    class="quick-view__options-input visually-hidden"
                    value="{{ value }}"
                  >
                  <label for="{{ input_id }}">
                    <span class="color" style="background-color: {{ value }};"></span>
                    <span class="text">
                      <span class="text-default">{{ value }}</span>
                      <span class="text-active">{{ value }}</span>
                    </span>
                  </label>
                {%- endfor -%}
              </div>
              <div class="quick-view__option-error hidden">Please select a {{ option_name_downcase }}</div>
            </fieldset>
          {%- else -%}
            <div class="quick-view__product-option not-checked">
              <div class="quick-view__option-name">{{ option.name }}</div>
              <div class="quick-view__option-select">
                <div class="quick-view__option-select-label">Choose your size</div>
                <div class="quick-view__option-select-arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10" fill="none">
                    <path d="M2 2L8 8L14 2" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"></path>
                  </svg>
                </div>
                <div class="quick-view__option-select-list">
                  {%- for value in option.values -%}
                  {%- capture input_id -%}{{ option.name | handleize }}-{{ section.id }}-{{ forloop.index }}{%- endcapture -%}
                    <input 
                      type="radio"
                      name="{{ option.name }}"
                      id="{{ input_id }}"
                      class="quick-view__options-input visually-hidden"
                      value="{{ value }}"
                    >
                    <label for="{{ input_id }}">
                      {{- value -}}
                    </label>
                  {%- endfor -%}
                </div>
              </div>
              <div class="quick-view__option-error hidden">Please select a {{ option_name_downcase }}</div>
            </div>
          {%- endif -%}
        {%- endfor -%}

        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </quick-variant-selects>
    {%- endunless -%}

    <div class="quick-view__form-buttons">
      <button 
        type="submit"
        class="quick-view__form-addcart button button--full-width button--with-arrow"
        id="QuickAdd-{{ section.id }}"
      >
        <span class="text">{{ 'products.product.add_to_cart' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="12" viewBox="0 0 36 12" fill="none" class="icon">
          <path d="M1.4093 5.25L0.659302 5.25L0.659302 6.75L1.4093 6.75L1.4093 5.25ZM35.6391 6.53033C35.932 6.23744 35.932 5.76257 35.6391 5.46967L30.8661 0.696701C30.5733 0.403808 30.0984 0.403808 29.8055 0.696701C29.5126 0.989594 29.5126 1.46447 29.8055 1.75736L34.0481 6L29.8055 10.2426C29.5126 10.5355 29.5126 11.0104 29.8055 11.3033C30.0984 11.5962 30.5732 11.5962 30.8661 11.3033L35.6391 6.53033ZM1.4093 6.75L35.1088 6.75L35.1088 5.25L1.4093 5.25L1.4093 6.75Z" fill="currentColor"/>
        </svg>
      </button>
      <div class="quick-view__form-error"></div>
    </div>
  </quick-product-form>
</div>
